PORT=3001

# Twilio
TWILIO_ACCOUNT_SID=ACxx
TWILIO_AUTH_TOKEN=xx
TWILIO_WHATSAPP_NUMBER=whatsapp:+1415523xxxx

# ElevenLabs
ELEVENLABS_API_KEY=
ELEVENLABS_AGENT_ID=agent_xx

# Google API Key
GOOGLE_MAPS_API_KEY=